<section style="border-top: 1px solid #DDDDDD; padding: 30px 0;">
    <div style="line-height: 30px; background: #f0f8ff; padding: 10px; border: 2px dashed #990d0d; font-family: 微软雅黑">
        <div>作者：<a href="https://lidaguang1989.github.io/" target="_blank">dykingdy</a></div>
        <div>出处：<a href="https://lidaguang1989.github.io/" target="_blank">https://lidaguang1989.github.io/</a></div>
        <div>本文版权归作者所有，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文连接，否则保留追究法律责任的权利。 </div>
    </div>
</section>
